.dg-arrange-table-rows-drag-icon{
	background-image: url('dg-arrange-table-rows.gif') !important;
	background-repeat: repeat-y !important;
	cursor: move;
}

/* Container used while dragging */
.dg-arrange-table-rows-container{
	background-color: #FFF;
}

.dg-arrange-table-rows-insertion-marker{
	width:7px;
	height:10px;
	background-image:url('insert.gif');
	background-repeat:no-repeat;
}
