/* http://c82.net/samples/checklist-samples.html */
.checklist li { background: none; padding-left: 0; }
.checklist {
   border: 1px solid #ccc;
   list-style: none;
   height: 10em;
   overflow: auto;
   width: 16em;
}
.checklist, .checklist li { margin-left: 0; padding: 0; }
.checklist label { display: block; padding-left: 25px; text-indent: -25px; }
.checklist label:hover, .checklist label.hover { background: #777; color: #fff; }
* html .checklist label { height: 1%; }

.cl1 { font-size: 0.9em; width: 100%; height: 15em; }
.cl1 .alt { background: #f5f5f5; }
.cl1 input { vertical-align: middle; }
.cl1 label:hover, .cl1 label.hover { background: #ddd; color: #000; }
