*  html  #admin-sidebar{
}

* html #admin-content{

}

*  html  #admin-wrapper {
	height:480px;
}
*  html  #sidebar {
	height:400px;
}
*  html  input.k_text, *  html  input.k_image_text, *  html  input.k_file_text,
*  html  input#f_k_day, *  html  input#f_k_year, *  html  input#f_k_hour, *  html  input#f_k_min
{
	background-color:#FFFFFF;
	border: 1px solid #E6E6E3;
}

ul#admin-subnav, ul.k_element_deleted_nav{
   margin-right: 23px;
}
