html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 12px;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

a img { border: none; }

body {
  font-size: 75%;
  color: #000;
  background: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}


h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}

p           { margin: 0 0 1.5em; }
p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:focus,
a:hover     { color: #000; }
a           { color: #009; text-decoration: underline; outline: none; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr,
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre 				{ margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


li ul,
li ol       { margin:0 1.5em; }
ul, ol      { margin: 0 1.5em 1.5em 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th 		{ background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
tr.even td  { background: #e5ecf9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }

hr {
	  background: #ddd;
	  color: #ddd;
	  clear: both;
	  float: none;
	  width: 100%;
	  height: .1em;
	  margin: 0 0 1.45em;
	  border: none;
}
hr.space {
  background: #fff;
  color: #fff;
}

.tiny{
	font-size:11px;
	line-height:1.2em;
}
.verytiny{
	font-size:9px;
	line-height:1.4em;
}
.alignright {
	float: right;
}

.alignleft {
	float: left
}

.center {
	text-align: center;
}
.clear {
	clear:both;
}

.error,
.notice,
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }

/**********************************************************************/
body{
	background:#26231E;
}
html, body{ 	height: 100% !important; }
span.k_desc{ color:#777; }
a{ color:#446F95; text-decoration:none; }
a:hover, a:active, a:focus { color:#D6491B; }

#container {
	display:block;
	width:1008px;
	min-height: 100%;
	background: #F0F0F0 url(images/bg-wrapper.jpg) repeat-y left top;
	float: left;
}
* html #container {
	height: 100%;
}
#container2 {
	background: transparent url(images/grad.gif) no-repeat 200px top;
	float: left;
}
#header{
	height:85px;
	position:relative;
	margin-bottom: 5px;
}
	img#couch-logo{
		position:absolute;
		top:16px;
		left:20px;
	}
	#header h2{
		float:left;
		display: inline;
		padding-top: 40px;
		margin-left: 220px;
		margin-bottom:10px;
		font-weight: normal;
	}
	#header div#create_new, #header div#bulk_upload{
		float:left;
		display: inline;
		padding-top: 43px;
		padding-left: 10px;
	}
	#header div#view_template, #header div#view_folders{
		float:left;
		display: inline;
		padding-top: 43px;
		padding-left: 0px;
	}
	#header a.button { margin-right:0; }
	#header div.error{
		clear: right;
		margin-left: 220px;
		margin-bottom:10px;
		margin-right: 22px;
	}
#footer {
	clear:both;
	padding:20px 0;
	margin-left: 220px;
	text-align:left;
	color:#999;
	font-size:11px;
}
#footer a{
	color:#999;
	font-size:11px;
}
#sidebar{
	float: left;
	padding-top: 0px;
	width: 220px;
	min-height:400px;
	text-align: right;
}
#sidebar ul{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
}
#sidebar ul li{
		display: inline;
}
#sidebar ul li a{
	color: #AAAAAA;
	display: block;
	font-size: 13px;
	line-height: 1.2em;
	padding: 8px 40px 8px 15px;
	outline: none;
}
#sidebar ul li a:hover{
	color: #FFFFFF;
	outline: none;
}
#sidebar ul li.active-template a{
	color: #FFFFFF;
	background: transparent url(images/arrow.gif) no-repeat scroll 15px 3px;
}
#sidebar ul li.hidden-template a{
	text-decoration: line-through;
}
#sidebar ul li.template-separator a{
	padding: 0;
	margin: 12px 20px 6px;
	border-top: 1px solid #45423E;
	line-height: 0;
}
#sidebar ul li a img{
	margin-bottom: -2px;
}
#admin-wrapper {
	float:left;
	min-height:480px;
	width:764px;
	border: 1px solid #CCC;
	background-color: #FFF;
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
	display:inline;
	position: relative;
}
#admin-wrapper-header{
	height: 30px;
	background: #4B4B4B url(images/bg-header.gif) repeat-x scroll left top;
	-moz-border-radius-topleft: 6px; -webkit-border-radius: 6px; border-radius: 6px;
	-moz-border-radius-topright: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}
#admin-wrapper-header h3{
	padding: 5px 10px 8px;
	margin: 0px;
	color: #FFF;
}
#admin-wrapper-header div#advanced-settings{
	float: right;
	display: inline;
	margin-right: 12px;
	height: 30px;
	border-left: 1px solid #45423E;
	border-right: 1px solid #45423E;
}
#admin-wrapper-header div#advanced-settings a{
	color: #AAA;
	padding: 0 20px 0 6px;
	line-height: 30px;
	outline: none;
}
#admin-wrapper-header div#advanced-settings a.collapsed{
	background: transparent url(images/arrows.gif) no-repeat right -7px;
}
#admin-wrapper-header div#advanced-settings a.expanded{
	background: transparent url(images/arrows.gif) no-repeat right -38px;
}
#admin-wrapper-header div#advanced-settings a:hover{
	color: #FFF;
	outline: none;
}
#admin-wrapper-body{
	float: left;
	width: 736px;
	padding: 14px 14px 6px 14px;
	display:inline;
	position: relative;
}
#admin-sidebar{
	float:right;
	width:200px;
	padding: 14px;
	margin-right: 6px;
	display:none;
	border: 1px solid #E6E6E3;
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}
	input#f_k_year{width:30px;}
	input#f_k_day,
	input#f_k_hour,
	input#f_k_min
	{width:18px;}
	div#access-levels select{width: 185px;}

#admin-content{
	float:left;
	/*width:520px;*/
	width: 733px;
	display:inline;
	margin-bottom: 16px;
	position: relative;
}
span.k_notice{
	display: block;
}
div.k_element{
	margin-bottom: 18px;
	clear: both;
	position: relative;
	background-color: #fff;
	overflow: hidden;
	zoom: 1;
}
div.k_element_deleted{
	opacity: 0.6;
	filter: alpha(opacity=60);
	position: absolute;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #FBE3E4;
	cursor: pointer;
}

.k_image_text, .k_file_text{
	float: left;
	margin-right: 5px;
	margin-bottom: 16px;
	margin-top: 3px;
}
.group-wrapper, .group-wrapper_ex{
	margin-bottom:16px;
	border:1px solid #E6E6E3;
	padding:0px;
	-moz-border-radius:5px; -webkit-border-radius: 5px; border-radius: 5px;
}
div.group-wrapper.listing{
	float:right;
	width:734px
}
.group-toggler, .group-toggler_ex{
	border-bottom:1px solid #E6E6E3;
	background-color: #F9F9F8;
	padding: 6px;
	margin:0px;
	cursor: pointer;
	/*background-image:url(images/bg.jpg);*/
	background-position:0 0;
	background-repeat:repeat-x;
	zoom: 1;
}
.group-toggler_ex{ cursor: default; }

.group-slider, .group-slider_ex{
	padding:10px;
	padding-top:15px !important;
	padding-right:15px !important;
	position: relative;
	zoom: 1;

}

table.listing{
	margin-bottom: 0;
}
table.listing th{
	overflow: hidden;
	vertical-align: top;
	white-space: nowrap;
	background-color: transparent;
	border-bottom: 1px solid #E6E6E3;
	color: #333;
	background-color:#F9F9F8;
}
table.listing th.checkbox{
	padding-right: 0;
	width: 20px;
}
table.listing tbody tr:hover td {
  background-color: #F9F9F8;
}
table.listing td{
	overflow: hidden;
	vertical-align: top;
	white-space: nowrap;
	border-bottom: 1px solid #E6E6E3;
}
table.listing td img{ margin-bottom:-2px; }
table.listing td.last_row{
	border-bottom: 0;
}
table.listing  td.checkbox{
	border-left: 0;
	width: 20px;
}
table.listing  td.up-down{
	background-color: #F9F9F8;
	width: 30px;
   padding: 0;
}
table.listing  td.up-down a{
	margin: 0;
   padding: 0;
   line-height:4px;
   display: block;
}
table.listing  td.name{
	width: 320px;
	padding-right: 5px;
}
table.listing.nested  td.name{
   width: 560px;
}
table.listing.nested span.pointer_links{ color: #a0a0a0; }
table.listing.nested span.pointer_links a{
   font-size: 11px;
   color: #a0a0a0;
   text-decoration: underline !important;
}
table.listing.nested  td.name  span.unpublished{
   /*color:red !important;*/
   text-decoration: line-through !important;
}
table.listing td.comments-count{
	padding-right: 6px;
	text-align: right;
	width: 70px;
}
table.listing td.comments-count a{
	font-size: 10px;
}
table.listing td.comments-count img{
	margin-bottom: -2px;
	margin-left: 1px;
}
table.listing td.comments-count span.comments-count{
	padding-left: 6px;
}
table.listing td.user_name{
	width: 20%;
}
table.listing td.folder{
	width: 120px;
	background-color: #F9F9F8;
	font-size: 11px;
}
table.listing td.folder.drafts{
	width: 105px;
}
table.listing td.date{
	width: 75px;
	font-size: 11px;
}
table.listing td.date.drafts{
	width: 95px;
	_width:115px;
}
table.listing td.actions{
	width: 70px;
	background-color: #F9F9F8;
	padding-right: 5px;
}
table.listing.nested  td.actions{
   width: 80px;
}
table.listing td.actions img{
	margin-right: 7px;
}
a#listing-header{
	font-size: 24px;
	color: #111;
}
table.listing td.folder-title{
	width: 400px;
}
table.listing td.folder-name{
	background-color:#F9F9F8;
}

textarea,
input[type="text"],
input[type="password"],
select {
	background-color:#FFFFFF;
	border: 1px solid #E6E6E3;
	padding: 1px;
}

input:focus,
textarea:focus{
  /*border-color: #999;*/
  background-color:#FBFBFB;
}

ul#admin-subnav, ul.k_element_deleted_nav{
   height:26px;
   position:absolute;
   right:0;
   top:0;
   margin:10px 1px 5px;
}
#admin-subnav li, ul.k_element_deleted_nav li{
	display:inline;
	float:left;
	margin:0 0 0 10px;
	color:#333;
	font-size:12px;
	line-height:26px;
}
#admin-subnav li a, ul.k_element_deleted_nav li a{
	color:#333;
	text-decoration:none;
	font-size:12px;
}
#admin-subnav li a:hover, ul.k_element_deleted_nav li a:hover {text-decoration:underline;}
ul.k_element_deleted_nav{ background-color: #FFFFE0; opacity:1 !important; border: 1px solid #777; margin-top: 2px; padding-right:10px}


body.login{
	background-image: none;
	background: #F0F0F0 url(images/grad.gif) no-repeat fixed left top;
}
	div#login{
		margin:100px auto;
		width:300px;
	}
	#login form, #login div.wrapper{
		padding:15px;
		background-color:#fff;
		border:1px solid #E6E6E3;
		-moz-border-radius:10px; -webkit-border-radius: 10px; border-radius: 10px;
		margin-bottom:10px;
	}
	#login form label{
		color:#777;
	}
	#login form p{ margin:0;}
	#login form #k_user_name, #login form #k_user_pwd, #login form #k_user_pwd_repeat, #login form #k_user_email{
		width:99%;
		font-size:20px;
		margin-bottom:10px;
		background-color:#FBFBFB;
		border: 1px solid #E6E6E3;
	}

/* Comments */
.comment{
	color:#777777;
	font-size:12px;
}
.approved{

}
.unapproved{
	background-color:#FFFFE0;
}
.comment-checkbox{
	vertical-align:top;
	border-bottom:1px solid #DFDFDF;
	padding-bottom:12px;
	padding-top:8px;
	width: 20px;
}
.comment-author{
	vertical-align:top;
	width:20%;
	border-bottom:1px solid #DFDFDF;
	padding-bottom:12px;
	padding-top:8px;
}
.comment-body{
	vertical-align:top;
	border-bottom:1px solid #DFDFDF;
	padding-bottom:12px;
	padding-top:8px;
}
.comment-meta{
	margin-bottom:0;
}
.comment-content{
	vertical-align:top;
	margin:0.6em 0;
}
.comment-actions{
	margin-bottom:0;
}
.comment-date{
	font-size:10px;
}

.wrap-paginator{
	float:left;
	height: 34px;
   /*width:734px;*/
}
.wrap-paginator .record-count{
	float:right;
	padding: 3px;
	margin: 3px 3px 8px;
	color:#777777;
	font-size:13px;
	font-style:italic;
}
.wrap-paginator .bulk-actions{
	float:left;
	color:#777777;
	margin: 0px 10px 12px 0;
	height: 24px;
}
.wrap-paginator .bulk-actions select{
	float: left;
	margin:1px 4px 1px 0;
}
.filter{
	float:left;
	list-style-type:none;
	margin: 10px 0 10px 3px;
	color:#777777;
}
.filter li{
	display:inline;
}
.filter a.current{
	font-weight:bold;
	color:#000;
}
/*
	Pagination
	Source: http://www.strangerstudios.com/sandbox/pagination/diggstyle.php (strangerstudios.com)
*/
div.pagination {
	padding: 3px 0 3px 3px;
	margin: 3px 0px 8px;
	float:right;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #CCC;
	text-decoration: none; /* no underline */
	color: #446F95;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #D6491B;
	color: #D6491B;
}
div.pagination span.page_current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #CCC;
	font-weight: bold;
	background-color: #EEE;
	color: #446F95;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
div.pagination span.page_disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	color: #DDD;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}

/*
	Buttons
	http://www.oscaralexander.com/tutorials/how-to-make-sexy-buttons-with-css.html
*/
a.button {
    background: transparent url('images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
	outline: none;
}
a.button.nocurve {
	background-image: url('images/bg_button_a2.gif')
}
a.button span {
    background: transparent url('images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}
a.button span.nocurve {
	background-image: url('images/bg_button_span2.gif')
}
a.button:active, a.button:hover {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span, a.button:hover span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

/* Gallery */
div#gallery.group-wrapper.listing {
   border:0;
   margin-bottom:6px;
}
#gallery .item {
   color:#666666;
   font-family:Arial,Helevtica,Verdana,san-serif;
   font-size:12px;
   float:left;
   font-size:12px;
   line-height:1.7em;
   margin:0 14px 18px 0;
   position:relative;
   width:135px;
}
#gallery .item.last {
   margin-right:0;
}
#gallery .item_inner {
   background:#FFFFFF none repeat scroll 0;
   border:1px solid #E3E3E3;
   -moz-border-radius: 3px;
   -webkit-border-radius:3px;
   border-radius:3px;
   float:left;
   height:148px;
   padding:9px 9px 0;
   width:115px;
}
#gallery .item_inner.folder {
   border: 0;
}
#gallery .item_image {
   border:medium none;
   display:block;
   height:115px;
   left:10px;
   overflow:hidden;
   position:absolute;
   top:10px;
   width:115px;
   color:#888F96;
   background: no-repeat center center;
   background-color: #F0F0F0;
}
#gallery .item_image.folder {
    background-color: #FFFFFF;
}
#gallery .item .checkbox{
   padding:0 20px 0 0;
   position:absolute;
   left:10px;
   top:135px;
}
#gallery .actions {
   height:18px;
   width:60px;
   opacity:1;
   overflow:hidden;
   position:absolute;
   top:135px;
   right:12px;
   z-index:10;
}
#gallery .actions a {
   display:block;
   float:right;
   width:16px;
   height:16px;
   border:0 none;
   margin:0;
   padding:0;
   padding-left:4px;
   text-decoration:none;
}
#gallery .actions a img{
   border:0 none;
   margin:0;
   padding:0;
}
#gallery .item .name, #gallery .item .time, #gallery .item .size {
      clear: both;
      text-align: center;
      cursor: default;
      white-space: nowrap;
      overflow: hidden;
}
#gallery .item .name {
      font-weight: bold;
      padding:5px 8px 0;
      margin-top: 4px;
}
#gallery .item .time, #gallery .item .size {
   font-size: 11px;
}
#gallery .item .size{
   line-height: 1.4em;
}
#gallery  .select_all {
   color:#777777;
   float:left;
   height:24px;
   margin:0;
}
#gallery  .empty {
   padding: 25px;
   margin-top: 25px;
   border: 1px solid #E3E3E3;
   color:#666666;
}
